*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Logs
*.log

# Arquivos temporários
*.tmp
*.temp
*.bak
# Resultados de testes ou simulações
/test-results/
# Debug ou crash dumps
/debug/
*.stacktrace
